body {
  min-width: 320px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: "RobotoLight", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em; }

textarea {
  resize: none; }

input {
  caret-color: #1d2a61; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #1d2a61; }

body input:required:valid,
body textarea:required:valid {
  color: #1d2a61; }

.hidden {
  display: none; }

a {
  color: #1d2a61;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

a:hover {
  text-decoration: none;
  text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5); }

p {
  margin: 0em;
  margin-before: 0em;
  margin-after: 0em;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em; }

li {
  list-style-type: none; }

ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

hr {
  width: auto;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  margin-top: 1em; }

/*=== Header === */
header {
  position: relative;
  display: block;
  height: 145px;
  max-height: 145px;
  padding: 40px 45px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 10; }

.logo img {
  height: 100%; }

.menu {
  width: 100%;
  text-align: center; }
  .menu ul li {
    margin: 0px 15px;
    position: relative;
    line-height: 60px; }
    .menu ul li a:before {
      position: absolute;
      top: 20px;
      left: 50%;
      color: transparent;
      content: "-";
      text-shadow: transparent 0px 0px;
      font-size: 0.7em;
      pointer-events: none;
      font-weight: 400;
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      -webkit-transition: -webkit-transform 0.2s, color 0.2s, text-shadow 0.2s;
      -moz-transition: -moz-transform 0.2s, color 0.2s, text-shadow 0.2s;
      -o-transition: -o-transform 0.2s, color 0.2s, text-shadow 0.2s;
      transition: -webkit-transform 0.2s, -moz-transform 0.2s, -o-transform 0.2s, transform 0.2s, color 0.2s, text-shadow 0.2s; }
    .menu ul li:hover > a:before {
      color: #1d2a61;
      text-shadow: 10px 0 #1d2a61, -10px 0 #1d2a61; }

.phone {
  float: right; }

.logo,
.menu,
.menu li,
.phone,
.phone-icon {
  display: inline-block; }

.menu a,
.phone a {
  color: #1d2a61;
  font-size: 20px; }

.phone a {
  clear: both; }

.phone-icon {
  background: url("../img/phone.svg");
  fill: #1d2a61;
  width: 50px;
  height: 50px;
  border: 1px solid #1d2a61;
  border-radius: 100%; }

.phone-text {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top; }

/*=== Banner === */
.banner {
  display: block;
  position: relative;
  height: calc(100vh - 145px);
  width: 100%;
  background-image: url("../img/bg1.png");
  background-size: 100% 100%; }
  .banner .h1, .banner .h2 {
    display: block;
    position: absolute;
    right: 15%; }
  .banner .h1 {
    width: 46%;
    top: 60px; }
  .banner .h2 {
    width: 30%;
    top: 180px; }
  .banner .girl {
    display: block;
    position: absolute;
    left: 15%;
    bottom: 0; }

/*=== Main Body === */
.wrapper {
  display: block;
  position: relative;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px -6px 15px rgba(0, 0, 0, 0.5); }

.home-catalog {
  padding-top: 90px; }

.custom-text {
  text-align: center;
  color: #1d2a61; }
  .custom-text p {
    display: block;
    margin: 30px 0px 50px; }

.entry-heading {
  font-variant: small-caps;
  font-size: 36px; }

.product-item {
  margin-bottom: 50px;
  padding: 0px 30px; }
  .product-item p {
    color: #1d2a61; }
  .product-item:hover img {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5); }
  .product-item:hover a {
    text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.8); }

.entry-img {
  display: block;
  max-width: 100%; }

.entry-txt {
  display: block;
  font-variant: small-caps;
  font-size: 20px;
  margin-top: 15px; }

footer {
  display: block;
  width: 100%;
  height: 80px;
  background-color: rgba(29, 42, 97, 0.2);
  text-align: center;
  color: #1d2a61;
  padding: 30px;
  font-size: 14px; }

/*=== Forms === */
.home-form {
  display: block;
  padding-bottom: 50px; }
  .home-form .fields-group {
    display: inline-block; }

.cta-form button,
.home-form button {
  background-color: #1d2a61;
  border: 1px solid transparent;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  color: #fff;
  font-variant: small-caps; }
  .cta-form button:hover,
  .home-form button:hover {
    background-color: #fff;
    color: #1d2a61;
    border: 1px solid #1d2a61;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

.fields-group input, .fields-group textarea {
  display: block;
  width: 100%;
  padding: 7px 15px;
  font-size: 16px;
  background-color: rgba(29, 42, 97, 0.15);
  border: 1px solid #1d2a61;
  color: #fff; }
.fields-group input {
  height: 54.5px; }
.fields-group textarea {
  height: 100%; }
.fields-group input:first-child {
  margin-bottom: 15px; }

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #1d2a61;
  text-indent: 0px;
  transition: text-indent 0.5s ease; }

textarea::-moz-placeholder,
input::-moz-placeholder {
  color: #1d2a61;
  text-indent: 0px;
  transition: text-indent 0.5s ease; }

textarea:-moz-placeholder,
input:-moz-placeholder {
  color: #1d2a61;
  text-indent: 0px;
  transition: text-indent 0.5s ease; }

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: #1d2a61;
  text-indent: 0px;
  transition: text-indent 0.5s ease; }

.cta-form {
  display: block;
  width: 70%;
  margin: 0 auto; }
  .cta-form h3 {
    font-size: 24px;
    color: #1d2a61;
    display: block;
    margin-bottom: 10px; }

/*=== Sidebars === */
/*=== Page Elements === */
.inner-page-wrapper {
  padding: 90px 0px; }

.page-title {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/bg11.jpg");
  background-size: cover;
  padding: 60px 0px; }

.page-title-caption {
  text-align: center; }
  .page-title-caption h2 {
    font-size: 42px;
    color: #000f4c;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); }
  .page-title-caption a {
    color: #1d2a61; }
  .page-title-caption .breadcrumb {
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5); }

.home-form p {
  font-size: 18px;
  display: block; }
.home-form h4 {
  font-size: 26px;
  display: block;
  margin-bottom: 15px;
  color: #1d2a61; }

.inner-page-wrapper .home-form {
  margin-top: 80px; }
  .inner-page-wrapper .home-form h3 {
    font-size: 30px; }

.contact-content {
  padding: 30px 20px 20px;
  text-align: center;
  border: 2px solid #e1e1e1;
  position: relative;
  margin-bottom: 50px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .contact-content h3 {
    color: #1d2a61;
    font-size: 24px; }
  .contact-content a {
    color: #1d2a61; }

/*Blog page */
.main-blog {
  border: 2px solid rgba(92, 107, 192, 0.4);
  margin-bottom: 50px; }

.main-blog_info {
  padding: 30px 30px 30px 0; }

.main-blog_info h3 {
  font-size: 24px;
  font-weight: 500;
  color: #1d2a61;
  margin-bottom: 15px; }

.main-blog_info p {
  font-size: 16px;
  margin-bottom: 22px; }

.main-blog-img {
  position: relative;
  height: 100%; }
  .main-blog-img img {
    max-width: 100%;
    min-height: 100%; }

.main-blog:hover .ld_overlay2 {
  opacity: 0.65; }

.main-blog:hover .ld_overlay2 > .ld_hover2:before {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -moz-transform: scale(1, 1); }

.main-blog:hover .ld_overlay2 > .ld_hover2:after {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -moz-transform: scale(1, 1); }

.ld_blog_more {
  text-align: center;
  padding-top: 30px; }

.ld_overlay2 {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all; }
  .ld_overlay2 h2 {
    color: #fff; }

.ld_overlay2 > .ld_hover2:before {
  content: "";
  position: absolute;
  top: 30px;
  left: 20px;
  right: 30px;
  bottom: 20px;
  transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.ld_overlay2 > .ld_hover2:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 30px;
  right: 20px;
  bottom: 30px;
  -webkit-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.ld_overlay2 .ld_caption {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1; }

.article-single > img {
  display: block;
  margin: 0 auto; }
.article-single p {
  margin-bottom: 15px; }
.article-single .article-text {
  padding: 25px 40px; }

p.blockquote,
blockquote {
  border-left: 5px solid #1d2a61;
  margin: 10px 0 15px 0;
  padding: 10px 0 10px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px; }

.cta-btn,
.back-btn {
  text-align: center;
  display: block;
  margin: 0 auto; }
  .cta-btn a,
  .back-btn a {
    padding: 15px 45px;
    color: #1d2a61;
    background-color: #fff;
    border: 1px solid #1d2a61; }
    .cta-btn a:hover,
    .back-btn a:hover {
      background-color: #1d2a61;
      color: #fff; }

/*=== About page === */
.about-img img {
  max-width: 100%; }

.about-text p {
  margin-bottom: 15px; }

/*=== Payment and Delivery */
.delivery-text {
  display: block;
  margin-bottom: 30px; }
  .delivery-text h3 {
    text-align: center;
    font-size: 26px; }

/*=== Catalog inner item === */
.catalog-item img {
  width: 100%;
  margin-bottom: 5px; }
.catalog-item p {
  margin-bottom: 45px; }

/*# sourceMappingURL=main.css.map */
