@font-face {
    font-family: 'MADE TheArtist Sans';
    src: local('MADE TheArtist Sans'), local('MADETheArtistSans'), url('Madetheartistsans.woff2') format('woff2'), url('Madetheartistsans.woff') format('woff'), url('Madetheartistsans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
